*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape{
    width: 500px;
    height: 400px;
    position: relative;
}

img{
    width: 500px;
    height: 400px;
}

i{
    position: absolute;
    top: 45%;
    left: 45%;
    color: white;
    opacity: 0;
}

.heart{
    animation: show 1s linear;
}

@keyframes show{
    0%{opacity: 0;}
    20%{
        transform: scale(1.5);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.3);
        opacity: 0.8;
    }
    50%{
        transform: none;
        opacity: 0.8;
    }

    100%{
        opacity: 0;
    }
}

::selection{background-color:none ; color: none;}